body {
  background-color: rgb(46, 46, 49);
  background-color: #1d1d1f;
  color: whitesmoke;
  color: #c8c7ca;
  font-family: "Montserrat", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  /* Contenu du body */
  /* Contenu du main */
  /* Contenu du aside */
  /* Autre facon de faire le linear gradient sur une bordure */
  /* aside a {
      text-decoration: none;
      color: #c8c7ca;
      border-style: solid;
      border-width: 0 0 1px 0;
      padding-bottom:5px;
      margin-bottom:20px;
      width:fit-content;
      border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
      transition: 0.3s ease-in-out;
  }  */
}
body .feinte1 {
  width: 7rem;
  height: 7rem;
  border-style: solid;
  -o-border-image: linear-gradient(135deg, #f8056e, #f3af03 70%) 1;
     border-image: linear-gradient(135deg, #f8056e, #f3af03 70%) 1;
  border-width: 8px 0 0 8px;
}
body header {
  margin-top: -7rem;
  margin-left: 0.7rem;
  /* Barre de navigation */
}
body header img {
  width: 4rem;
  height: auto;
  margin-left: 2rem;
  transition: transform 0.5s;
}
body header img:hover {
  transform: scale(2);
}
body header nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
body header nav #navbar {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
body header nav #navbar a {
  margin: 0.5rem;
  color: whitesmoke;
  transition: transform 0.5s;
}
body header nav #navbar a:hover {
  transform: scale(1.3);
}
body .body-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 0.8rem;
}
body main {
  margin: 1.2rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
body main h1 {
  font-weight: 400;
  font-size: 3rem;
  margin-left: -10px;
  margin-bottom: 4rem;
}
body main h3 {
  font-size: 1.7rem;
  font-weight: 400;
}
body main p {
  border-left: 1px solid transparent;
  background: linear-gradient(to top, #f8056e, #f3af03 100%);
  background-position: 0 100%;
  background-size: 1px 100%;
  background-repeat: no-repeat;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 2rem;
  margin-right: 1rem;
}
body main p:hover {
  background: linear-gradient(to bottom, #f8056e, #f3af03 100%);
  background-position: 0 100%;
  background-size: 1px 100%;
  background-repeat: no-repeat;
}
body main a {
  text-decoration: none;
  margin-left: 2rem;
  color: whitesmoke;
  padding-bottom: 0.3rem;
  background: linear-gradient(to left, #f8056e, #f3af03 100%);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: repeat-x;
  transition: transform 0.3s;
}
body main a:hover {
  background: linear-gradient(to right, #f8056e, #f3af03 100%);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: repeat-x;
  transform: scale(1.1);
}
body aside {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
body aside h2 {
  font-weight: 400;
  font-size: 1.7rem;
}
body aside .aside-content {
  display: flex;
  flex-direction: column;
  max-width: 13rem;
  padding: 2rem;
  margin-top: -5rem;
}
body aside a {
  text-decoration: none;
  color: #c8c7ca;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
  background: linear-gradient(to left, #f8056e, #f3af03 100%);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: repeat-x;
  width: -moz-fit-content;
  width: fit-content;
  transition: transform 0.3s;
}
body aside a:hover {
  background: linear-gradient(to right, #f8056e, #f3af03 100%);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: repeat-x;
  transform: scale(1.1);
}
body .feinte2 {
  width: 5rem;
  height: 5rem;
  border-style: solid;
  -o-border-image: linear-gradient(135deg, #f8056e, #f3af03 70%) 1;
     border-image: linear-gradient(135deg, #f8056e, #f3af03 70%) 1;
  border-width: 3px 0 0 3px;
}
body footer {
  text-align: center;
  margin-bottom: -5rem;
}
body .feinte3 {
  position: absolute;
  right: 0;
  border-width: 0 8px 8px 0;
  width: 7rem;
  height: 7rem;
  border-style: solid;
  -o-border-image: linear-gradient(315deg, #f8056e, #f3af03 70%) 1;
     border-image: linear-gradient(315deg, #f8056e, #f3af03 70%) 1;
}

@media screen and (min-width: 900px) {
  body {
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 5rem;
    position: relative;
  }
  body .feinte1 {
    width: 15rem;
    height: 15rem;
    border-width: 15px 0 0 15px;
  }
  body header {
    margin-top: -14rem;
    margin-left: 2rem;
  }
  body .body-content {
    flex-direction: row;
    font-size: 1rem;
    margin-top: 4rem;
    margin-left: 4rem;
  }
  body .body-content main {
    width: 60%;
  }
  body .body-content h1 {
    font-size: 5rem;
  }
  body .body-content h3 {
    font-size: 2.3rem;
    font-weight: 400;
  }
  body .body-content aside {
    margin-right: 5rem;
  }
  body .body-content h2 {
    font-size: 2.5rem;
  }
  body footer {
    text-align: right;
    margin-right: 2rem;
    position: absolute;
    margin-bottom: -15rem;
    bottom: 0;
    right: 0;
  }
  body .feinte3 {
    width: 15rem;
    height: 15rem;
    border-style: solid;
    border-width: 0 15px 15px 0;
    -o-border-image: linear-gradient(315deg, #f8056e, #f3af03 70%) 1;
       border-image: linear-gradient(315deg, #f8056e, #f3af03 70%) 1;
  }
}/*# sourceMappingURL=style.css.map */